<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="row">
    <aside class="span3">
    <section>
    <%= render 'shared/user_info', user: current_user %>
    </section>
    <section>
    <%= link_to "New Post", new_post_path,
	    class: "btn btn-large btn-primary" %>
    </aside>
    <div class="span9">
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
  <div class="row">
    <aside class="center span3">
    <h1>kyk Blog</h1>
    <section>
      <%= link_to "Sign up now!", signup_path, 
        class: "btn btn-large btn-primary" %>
    </section>
    </aside>
    <div class="span9">
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>

<% end %>
