<a href="<%= user_path(user) %>">
  <%= gravatar_for user, size: 52 %>
</a>
<h1>
  <%= user.name %>
</h1>
<span>
  <%= link_to "view profile", user %>
</span>
<span>
  <%= pluralize(user.posts.count, "post") %>
</span>
