<%= provide(:title, 'New Post') %>
<div class="menu">
  <ul>
    <li class="menu-item"><%= link_to "Posts", root_path %></li>
    <li class="menu-item"><%= link_to "About", about_path %></li>
    <% if signed_in? %>
      <li class="menu-item current">New</li>
      <li class="menu-item"><%= link_to "Signout", signout_path, method: 'delete' %></li>
    <% end %>
  </ul>
</div>

<div id="post-edit-form">
  <%= form_for(@post) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :content %>
    <div id="editor-button-bar"></div>
    <%= f.text_area :content, placeholder: "Compose new post..." %>
    <div id="editor-preview"></div>

    <%= f.submit "Post", class: "post-button" %>
  <% end %>
</div>
<script type="text/javascript">
  $(function() {
    $('#post_content').keydown(function(){
      $(this).stopTime();
      $(this).oneTime(1000, function(){ styleCode(); });
    });
  });
  function styleCode(){
    $("#editor-preview code").addClass("prettyprint");
    prettyPrint();
  }
  $(function(){
    new WMDEditor({
      input: "post_content",
      button_bar: "editor-button-bar",
      preview: "editor-preview",
      helpLink: "http://daringfireball.net/projects/markdown/syntax"
    });
  })
</script>
